services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_API_BASE_URL=https://api.qulander.com/api/v1
    image: niva-ai-frontend-prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt/live/nivaai.qulander.com/:/etc/letsencrypt/live/nivaai.qulander.com/:ro
    restart: unless-stopped

